In [ ]:
import streamlit  as st
import json 
import os
import pandas as pd
import numpy as np

In [ ]:
       5.  This is extract the data of top transactions made in all states:

#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


path = 'pulse/data/top/transaction/country/india/state/'
state_list = os.listdir(path)
clm={'State':[],'Year':[],'Quarter':[],'district_name':[] ,'total_count':[],'total_amount':[]}

#--------------------------------------------------------------------------------------------------------------------------


for i in state_list:
    p_i= path + i + '/'
    year = os.listdir(p_i)
    for j in year:
        p_j = p_i + j + '/'
        file = os.listdir(p_j)
        for k in file:
            p_k = p_j + k 
            Data = open(p_k,'r')
            D = json.load(Data)
            for z in D['data']['districts']:
                    district_name = z['entityName']
                    count= z['metric']['count']
                    amount = z['metric']['amount']
                   
                    clm['district_name'].append(district_name)
                    clm['total_count'].append(count)
                    clm['total_amount'].append(amount)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quarter'].append(int(k.strip(".json")))

top_transac = pd.DataFrame(clm)
top_transac

In [ ]:
cursor.execute("create table top_transaction(state varchar(45),year int,quarter int,district_name varchar(45),transaction_count int,transaction_amount float)")
for record in top_transac.values:
    cursor.execute("insert into top_transaction(state,year,quarter,district_name,transaction_count,transaction_amount)values{}".format(tuple(record)))
    connection.commit()
print('Data inserted into Table-5 successfully')
    

#**************************************** ------  5 th finished  ------************************************************